In [1]:
import pandas as pd
path = '/Users/macbookpro/Documents/Python/Model/Husnain/Linear Regression/pakWheels.csv'

In [2]:


df = pd.read_csv(path)

df.head()

,Ad No,Name,Price,Model Year,Location,Mileage,Registered City,Engine Type,Engine Capacity,Transmission,Color,Assembly,Body Type,Features,Last Updated,URL
0,4096758,Toyota Vitz F 1.0 2017,2385000,2017,"G- 8, Islamabad Islamabad",9869,Un-Registered,1,1000,1,Silver,Imported,1,"ABS, AM/FM Radio, Air Bags, Air Conditioning,...",11-Jul-20,https://www.pakwheels.com/used-cars/toyota-vit...
1,4168305,Toyota Corolla GLi Automatic 1.3 VVTi 2019,111000,2019,Peshawar KPK,11111,Islamabad,1,1300,1,White,Local,2,"ABS, AM/FM Radio, Air Bags, Air Conditioning,...",12-Jul-20,https://www.pakwheels.com/used-cars/toyota-cor...
2,4168298,Suzuki Alto VXL 2019,1530000,2019,"Akora Khattak, Nowshera KPK",17500,Un-Registered,1,660,1,White,Local,1,"ABS, AM/FM Radio, Air Bags, Air Conditioning,...",12-Jul-20,https://www.pakwheels.com/used-cars/suzuki-alt...
3,4168307,Suzuki Alto VXR 2019,1650000,2019,"Abdullahpur, Faisalabad Punjab",9600,Lahore,1,660,2,White,Local,1,"AM/FM Radio, Air Bags, Air Conditioning, DVD ...",12-Jul-20,https://www.pakwheels.com/used-cars/suzuki-alt...
4,4168306,Toyota Corolla XLi VVTi 2010,1435000,2010,"9th Avenue, Islamabad Islamabad",120000,Islamabad,1,1300,2,Black,Local,2,"AM/FM Radio, Air Conditioning, CD Player, Key...",12-Jul-20,https://www.pakwheels.com/used-cars/toyota-cor...

In [3]:
uniq= df['Body Type'].unique()
uniq

array([1, 2, 3, 5, 6, 4])

In [4]:
unq= df['Engine Type'].unique()
unq

array([1, 2, 3])

Data Cleansing

In [5]:
new_df= df['Name'].str.split(' ',n=1,expand=True).rename(columns={0:'company',1:'varient'})

In [6]:
df[['company','varient']] = df['Name'].str.split(' ', n=1, expand=True)

In [7]:
df[['company','varient']] = df['Name'].str.split(' ', n=1, expand=True)

In [8]:
df[['Vaarient','model']] = df['varient'].str.rsplit(' ', n=1, expand=True)

In [9]:
df.drop('model',inplace=True,axis=1)

In [10]:

print(df.keys())

Index(['Ad No', 'Name', 'Price', 'Model Year', 'Location', 'Mileage',
       'Registered City', 'Engine Type', 'Engine Capacity', 'Transmission',
       'Color', 'Assembly', 'Body Type', 'Features', 'Last Updated', 'URL',
       'company', 'varient', 'Vaarient'],
      dtype='object')

In [11]:
df.head()

,Ad No,Name,Price,Model Year,Location,Mileage,Registered City,Engine Type,Engine Capacity,Transmission,Color,Assembly,Body Type,Features,Last Updated,URL,company,varient,Vaarient
0,4096758,Toyota Vitz F 1.0 2017,2385000,2017,"G- 8, Islamabad Islamabad",9869,Un-Registered,1,1000,1,Silver,Imported,1,"ABS, AM/FM Radio, Air Bags, Air Conditioning,...",11-Jul-20,https://www.pakwheels.com/used-cars/toyota-vit...,Toyota,Vitz F 1.0 2017,Vitz F 1.0
1,4168305,Toyota Corolla GLi Automatic 1.3 VVTi 2019,111000,2019,Peshawar KPK,11111,Islamabad,1,1300,1,White,Local,2,"ABS, AM/FM Radio, Air Bags, Air Conditioning,...",12-Jul-20,https://www.pakwheels.com/used-cars/toyota-cor...,Toyota,Corolla GLi Automatic 1.3 VVTi 2019,Corolla GLi Automatic 1.3 VVTi
2,4168298,Suzuki Alto VXL 2019,1530000,2019,"Akora Khattak, Nowshera KPK",17500,Un-Registered,1,660,1,White,Local,1,"ABS, AM/FM Radio, Air Bags, Air Conditioning,...",12-Jul-20,https://www.pakwheels.com/used-cars/suzuki-alt...,Suzuki,Alto VXL 2019,Alto VXL
3,4168307,Suzuki Alto VXR 2019,1650000,2019,"Abdullahpur, Faisalabad Punjab",9600,Lahore,1,660,2,White,Local,1,"AM/FM Radio, Air Bags, Air Conditioning, DVD ...",12-Jul-20,https://www.pakwheels.com/used-cars/suzuki-alt...,Suzuki,Alto VXR 2019,Alto VXR
4,4168306,Toyota Corolla XLi VVTi 2010,1435000,2010,"9th Avenue, Islamabad Islamabad",120000,Islamabad,1,1300,2,Black,Local,2,"AM/FM Radio, Air Conditioning, CD Player, Key...",12-Jul-20,https://www.pakwheels.com/used-cars/toyota-cor...,Toyota,Corolla XLi VVTi 2010,Corolla XLi VVTi

In [12]:
#df.drop('URL',axis=1,inplace=True)
#df.drop('Features',axis=1,inplace=True)
#df.drop('Last Updated',axis=1,inplace=True)

In [13]:

df.drop('Color',axis=1,inplace=True)

In [14]:

df.head(1)

,Ad No,Name,Price,Model Year,Location,Mileage,Registered City,Engine Type,Engine Capacity,Transmission,Assembly,Body Type,Features,Last Updated,URL,company,varient,Vaarient
0,4096758,Toyota Vitz F 1.0 2017,2385000,2017,"G- 8, Islamabad Islamabad",9869,Un-Registered,1,1000,1,Imported,1,"ABS, AM/FM Radio, Air Bags, Air Conditioning,...",11-Jul-20,https://www.pakwheels.com/used-cars/toyota-vit...,Toyota,Vitz F 1.0 2017,Vitz F 1.0

In [15]:
df.describe()

,Ad No,Price,Model Year,Mileage,Engine Type,Engine Capacity,Transmission,Body Type
count,8.770000e+03,8.770000e+03,8770.000000,8770.000000,8770.000000,8770.000000,8770.000000,8770.000000
mean,4.127660e+06,2.441324e+06,2011.830787,86422.733067,1.112315,1380.060205,1.443216,1.820981
std,1.232420e+05,3.458262e+06,5.963194,66236.720482,0.440608,672.912382,0.496793,1.028333
min,6.660600e+05,1.110000e+05,1990.000000,1.000000,1.000000,16.000000,1.000000,1.000000
25%,4.154326e+06,1.006250e+06,2008.000000,44000.000000,1.000000,1000.000000,1.000000,1.000000
50%,4.159462e+06,1.650000e+06,2014.000000,75150.000000,1.000000,1300.000000,1.000000,2.000000
75%,4.164063e+06,2.580000e+06,2016.000000,111000.000000,1.000000,1600.000000,2.000000,2.000000
max,4.168339e+06,4.550000e+07,2019.000000,999999.000000,3.000000,6600.000000,2.000000,6.000000

In [16]:
df['Vaarient']

0                           Vitz F 1.0
1       Corolla GLi Automatic 1.3 VVTi
2                             Alto VXL
3                             Alto VXR
4                     Corolla XLi VVTi
                     ...
8765    Civic VTi Prosmatec 1.8 i-VTEC
8766    Corolla GLi Automatic 1.3 VVTi
8767       Corolla SE Saloon Automatic
8768              Corolla 2.0D Limited
8769                    Alto VXR (CNG)
Name: Vaarient, Length: 8770, dtype: object

In [17]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

encoded_company = label_encoder.fit_transform(df.company)
encoded_varient = label_encoder.fit_transform(df.Vaarient)

In [18]:
encoded_company = pd.Series(encoded_company)
encoded_varient = pd.Series(encoded_varient)
# print(encoded_varient)
df['Company'] = encoded_company
df['Vaarient'] = encoded_varient

In [19]:
x = df[['Engine Capacity', 'Model Year', 'Mileage','Company','Vaarient', 'Engine Type', 'Transmission', 'Body Type']]
y = df['Price']

In [20]:

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30, random_state = 46)
regr = LinearRegression()
model = regr.fit(x_train, y_train)

In [21]:
new_cin = pd.DataFrame({'Engine Capacity':660 ,'Model Year':2020 ,'Mileage':10000,'Company': "suzuki" ,'Vaarient':"alto",'Engine Type':1 ,'Transmission':1,'Body Type':1},index=[0])
new_cin = new_cin[['Engine Capacity', 'Model Year', 'Mileage','Company','Vaarient', 'Engine Type', 'Transmission', 'Body Type']]
new_cin

,Engine Capacity,Model Year,Mileage,Company,Vaarient,Engine Type,Transmission,Body Type
0,660,2020,10000,suzuki,alto,1,1,1

In [22]:
encoded_company = label_encoder.fit_transform(new_cin.Company)
encoded_varient = label_encoder.fit_transform(new_cin.Vaarient)
encoded_company = pd.Series(encoded_company)
encoded_varient = pd.Series(encoded_varient)
new_cin['Company'] = encoded_company
new_cin['Vaarient'] = encoded_varient
prediction= model.predict(new_cin)
prediction

array([1084678.68047327])

In [23]:

def price_predict(ec,myear,mile,company,varient,etype,trans,btype):
  cin=pd.DataFrame({'Engine Capacity':[ec],
                   'Model Year':[myear],
                   'Mileage':[mile],
                   'Company':[company],
                    'Vaarient':[varient],
                   'Engine Type':[etype],
                   'Transmission':[trans],
                   'Body Type':[btype]})
  label_encoder = preprocessing.LabelEncoder()
  encoded_company = label_encoder.fit_transform(cin.Company)
  encoded_varient = label_encoder.fit_transform(cin.Vaarient)
  encoded_company = pd.Series(encoded_company)
  encoded_varient = pd.Series(encoded_varient)
  cin['Company'] = encoded_company
  cin['Vaarient'] = encoded_varient
  cout=model.predict(cin)
  return cout

In [24]:
price_predict(1000,2005,1536643,'Suzuki','Cultus',1,1,2)

array([-5554469.01301086])

In [25]:
import pickle

pickle.dump(df,open('df_car.pkl','wb'))
pickle.dump(model,open('model_car.pkl','wb'))

Prediction  acuracy

In [26]:
y_pred = model.predict(x_test)
print(y_pred)
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

print("R-squared:", r2)
print("Mean Squared Error:", mse)

[2508027.71674538   60832.62742198 5114693.1114291  ... 6663341.56825835
 5030199.39227724 3529263.70976263]
R-squared: 0.5904653329660441
Mean Squared Error: 4389611648721.4795

In [27]:
#from sklearn import neighbors
#model_knn = neighbors.KNeighborsRegressor(n_neighbors = 3)
#model_knn.fit(x_train, y_train)

In [28]:
#predicted_value = model_knn.predict(x_test)
#knn_score = r2_score(y_test, predicted_value)
#knn_score